.container {
    width:100px;
    height:100px;
    border:1px solid black;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.c1 {
    width:10px;
    height:10px;
    border:1px solid red;
}
