html {
    font-size:calc((100vw / 800) * 100)
}

body {
    margin:0;
}


.first-image {
    background-image: url(https://daneden.imgix.net/2018/10/portrait.jpg?auto=format&fit=crop&ixlib=react-8.6.1&w=594);
    left:1.34rem;
    top:0.88rem;
    
}
.second-image {
    background-image: url(https://daneden.imgix.net/2018/10/GenArt.png?auto=format&fit=crop&ixlib=react-8.6.1&w=594);
    left:2.68rem;;
    top:2.55rem;
    z-index:3;
}
.third-image {
    background-image: url(https://daneden.imgix.net/2019/04/home.jpeg?auto=format&fit=crop&ixlib=react-8.6.1&w=594);
    left:4.30rem;
    top:3.80rem;
    
}

.images div {
    position:absolute;
    width:2.63rem;
    height:3.97rem;
    background-size: cover;
}