.cf-wrapper {
    display:none;
}
/* 底边广告 */
.stretch live panel focus > .label {
   padding-top:30px;
    line-height:30px;
}
/* 内容颜色 */
.label .options {
    min-width:200px;
}
.author {
    display:none;
}

#sandbox-wrapper > iframe {
    border:3px solid green;
    box-sizing:border-box;
}
#live iframe {
    padding-top:60px;
}      