ul {
   padding-left:-40px;
}

li {
    list-style-type: none;
    float:left;
    width:200px;
    height:100vh;
    border:1px solid;
    padding-left:-40px;
}


.a {
    dwidth:10000px;
    width:auto;
    height:100vh;
    overflow: hidden;
    height:100vh;
    background-color:red;
    float:none;
}

.b {
    width:200px;
    height:100vh;
    float:right;
}