div {
    width:auto;
    height:80px;
    border:1px solid;
  }
aside {
    width:177px;
    height:calc(100vh - 80px);
    border:1px solid;
    display:inline-block;
    box-sizing:border-box;
  }
section {
    width:calc(100vw - 219px);
    height:calc(100vh - 80px);
    box-sizing:border-box;
     border:1px solid;
     display:inline-block;
  }