section div{
    width:1300px;
    height:800px;
    display:none;
  }
  
  .a{
    background-image:
      url("https://i1.mifile.cn/a4/xmad_15566146318197_mAghl.jpg");
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .b{
    background-image:
      url("https://i1.mifile.cn/a4/xmad_15529884424562_HKYaG.jpg");
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .c{
    background-image:
      url("https://i1.mifile.cn/a4/xmad_15579184778872_ECdvK.jpg");
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .d{
    background-image:
      url("https://i1.mifile.cn/a4/xmad_15548066591437_Stxlj.jpg");
    background-size:100%;
    background-repeat:no-repeat;
  }
  
  .e{
    background-image:
      url("https://i1.mifile.cn/a4/xmad_15476942061027_STEvM.jpg");
    background-size:100%;
    background-repeat:no-repeat;
  }
  input{
      position:relative;
      top:460px;
      left:1100px;
  }
  
  
  input:hover{
    cursor:pointer;
  }
  
  input:nth-child(1):checked ~section .a {
    display:block;
  }
  
  input:nth-child(2):checked ~section .b {
    display:block;
  }
  
  input:nth-child(3):checked ~section .c {
    display:block;
  }
  
  input:nth-child(4):checked ~section .d {
    display:block;
  }
  
  input:nth-child(5):checked ~section .e {
    display:block;
  }

  
 


  label {
    display:block;
    width:50px;
    height:100px;
    border:1px solid;
    background-color:rgba(0,0,0,0.2);
    text-align:center;
    font-size:50px;
    color:white;
    cmargin-top:-100px;
    position:relative;
    top:0;
    display:none;
  }

.row-right > label::before {
    content:">";
    line-height:100px;
  }


#i1:checked ~ .row-right > label:nth-child(1){
 display:block;
  border:1px solid black;
}
#i2:checked ~ .row-right > label:nth-child(2){
 display:block;
  border:1px solid black;
}
#i3:checked ~ .row-right > label:nth-child(3){
 display:block;
  border:1px solid black;
}
#i4:checked ~ .row-right > label:nth-child(4){
 display:block;
  border:1px solid black;
}
#i5:checked ~ .row-right > label:nth-child(5){
  display:block;
   border:1px solid black;
 }

 label::before {
  content:"<";
}

#i5:checked ~ .row-left > label[for="i4"] {
 display:block;
  border:1px solid black;
}
#i4:checked ~ .row-left > label[for="i3"]{
 display:block;
  border:1px solid black;
}
#i3:checked ~ .row-left >  label[for="i2"] {
 display:block;
  border:1px solid black;
}
#i2:checked ~ .row-left >  label[for="i1"] {
 display:block;
  border:1px solid black;
}
#i1:checked ~ .row-left >  label[for="i5"] {
 display:block;
  border:1px solid black;
}

.row-left {
  position: absolute;;
  left:30px;
  top:200px;

}
.row-right {
  position: absolute;;
  right:40px;
  top:200px;

}