div{
    width:100px;
    height:100px;
    background-image:
    url("https://abs.twimg.com/a/1557861269/img/animations/web_heart_animation_edge.png?tdsourcetag=s_pcqq_aiomsg");
    
  }
  input{
    display:none;
  }
  
  input:checked +label > div {
    background-position:-2800px;
    transition:2s steps(28);
  }